
:root {
--color-background: #f4f9e9;
--color-body-text: #725d68;
--color-header-footer: #40476d;
--color-hero: #001524;
--color-cta-buttons: #18a999;
--color-cta-highlights: #18a999;
--color-accent:#a59132;
--color-white-text: #f4f9e9;
}


/* Create wrapper for entire page */

.wrapper {
  background-color: var(--color-hero);
    background-image: linear-gradient var(--color-hero) var(--color-header-footer);
  color: var(--color-white-text);
  font-family: sans-serif;
  line-height: 2;
  padding: 8%
}

/*Header Styling*/
.header-container {
    background-color: var(--color-header-footer);
    color: var(--color-background);
    padding: 10px;
    
    /*some box decoration*/
}

/*Nav Bar Display */
.nav-bar {
    display: flex;
    justify-content: center;
    align-items: stretch;
    justify-content: space-evenly;
    height: 20px;
}

/*Nav Links Styling*/
a:link {
    text-decoration: none;
    color: var(--color-white-text);
}

a:visited {
    color: var(--color-white-text);
}
a:hover {
    color: var(--color-cta-buttons);
    font-size: larger;
}

/*Hero Bar Display Grid Row 2, Col 1,2*/
.hero-container h1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: xx-large;
    font-style: oblique;
    
}
.hero-container h3{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    font-style: oblique;
    
}
/*TO DO: find abstract textile art image, make transparent and overlay background*/
.hero-container {
    background-color: var(--color-hero);
    background-image: linear-gradient(var(--color-header-footer), var(--color-hero));
    color: var(--color-background);
    padding: 4em;   
   
}

/* Call To Action Styling */
#contact-me {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.email-button {
    background-color: transparent;
    border: 1px solid var(--color-accent);
    color: var(--color-white-text);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 8px var(--color-cta-buttons) ;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.email-button:hover {
    transform: scale(1.2);
}

/*Projects Section Layout Grid Row 4, Col 1/5*/
#projects-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 2em;
   
}

/*Project Elements Styling*/
#project1 {
    background-color: transparent;
    border: 1px solid var(--color-accent);
    color: var(--color-white-text);
    text-align: center;
    padding: 20px;
}

#project2 {
    background-color: transparent;
    border: 1px solid var(--color-accent);
    color: var(--color-white-text);
    text-align: center;
    padding: 20px;
}
#project3 {
    background-color: transparent;
    border: 1px solid var(--color-accent);
    color: var(--color-white-text);
    text-align: center;
    padding: 20px;
}

/* About Me Section*/
#bio {

}
/*Footer Bar Styling*/
.footer-container {
    background-color: var(--color-hero      );
    color: var(--color-background);
}
/* Footer Layout */
.footer-container .social-links{
    display: flex;
    justify-content:;
    align-items: stretch;
    justify-content:flex-start;
    justify-content: space-around;
    height: 20px; 
}

/* About Section Styling - padding, first words larger, maybe grid with some images of other stuff I've made??*/


/*Footer Links Syling*/
/* this link to use social media icons https://www.w3schools.com/howto/howto_css_social_media_buttons.asp */
.social-links {
    color: var(--color-background)
}
