.container {
    display: grid;
    grid-template-columns: [first] 10% [line2] 10% [line3] auto [line4] 10% [line5] 10% [end];
    grid-template-rows: [row1-start] 1fr [row2-start] 2fr [row3-start] 2fr [row4-start] 1fr [row-end];
}