

.lexend-exa {
  font-family: "Lexend Exa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lexend {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
 body {
    font-family: "Lexend", sans-serif;
 }

:root {
--color-background: #f4f9e9;
--color-body-text: #725d68;
--color-header-footer: #40476d;
--color-hero: #001524;
--color-cta-buttons: #18a999;
--color-cta-highlights: #18a999;
--color-accent:#a59132;
--color-white-text: #f4f9e9;
}

/* Create wrapper for entire page */
/* html {
    font-size: 16px;
} */
 
.wrapper {
  background-color: var(--color-hero);
    background-image: linear-gradient var(--color-hero) var(--color-header-footer);
  color: var(--color-white-text);
  line-height: 2;
  padding: 8%
}

/*Header Styling*/
.header-container {
    background-color: var(--color-header-footer);
    color: var(--color-background);
    padding: 10px;
    position: sticky;
    top: 0;
    margin: 0;
    width: 100%;
    height: 25%;
    z-index: 1;
}

/*Nav Bar Display */
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: stretch; */
    justify-content: space-evenly;
    height: 20px;
}

/*Nav Links Styling*/
a:link {
    text-decoration: none;
    color: var(--color-white-text);
}

a:visited {
    color: var(--color-white-text);
}
a:hover {
    color: var(--color-cta-buttons);
    font-size: larger;
}

/*TO DO: find abstract textile art image, make transparent and overlay background*/

/*Hero Bar Display*/

.hero-container {
    background-color: var(--color-hero);
    background-image: linear-gradient(var(--color-header-footer), var(--color-hero));
    color: var(--color-background);
    padding: 4em;  
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 11em;
}

#contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-me img {
    width: 100%;
    height: auto;
    margin: 20%;
}

.hero-text{
    width: 70%;
    flex-direction: column;
}

.hero-text h1{
    font-size: 3.3rem;
    margin-bottom: 8px;
    color: var(--color-white-text);
}

.hero-text p{
    font-size: 1.4rem;
    margin-bottom: 12px;
}


/* Call To Action Styling */

.email-button {
    background-color: transparent;
    border: 1px solid var(--color-accent);
    color: var(--color-white-text);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 8px var(--color-cta-buttons) ;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.email-button:hover {
    transform: scale(1.2);
}

/*Projects Section*/
.wrapper {
    background-color: var(--color-hero);
    background-image: linear-gradient(var(--color-hero), var(--color-header-footer));
    color: var(--color-background);
    padding: 4em;  
}
#projects {
   text-align: center;
}
#projects-container {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
}

/*Project Elements Styling*/
#project1 {
    background-color: transparent;
    border: 1px solid var(--color-accent);
    color: var(--color-white-text);
    text-align: center;
    padding: 4em 4em;
    margin: 2em 2em;
    text-decoration: none;
    font-size: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 8px var(--color-cta-buttons) ;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    overflow-wrap: normal;
}
#project1:hover{
    background-color: #a59132;
    background-image: linear-gradient(var(--color-accent), var(--color-cta-highlights));
}
#project1 .smaller{
    font-size: .75em;
}

#project2 {
   background-color: transparent;
    border: 1px solid var(--color-accent);
    color: var(--color-white-text);
    text-align: center;
    padding: 4em 4em;
    margin: 2em 2em;
    text-decoration: none;
    font-size: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 8px var(--color-cta-buttons) ;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    overflow-wrap: normal;
}
#project2:hover{
    background-color: #a59132;
    background-image: linear-gradient(var(--color-accent), var(--color-cta-highlights));
}
#project2:hover a{
    color: var(--color-hero);
    text-decoration: underline;
}
#project2 .smaller{
    font-size: .75em;
}

/* About Me Section*/
#bio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
/*Footer Bar Styling*/
.footer-container {
    background-color: var(--color-header-footer);
    color: var(--color-background);
}
/* Footer Layout */
.footer-container .social-links{
    display: flex;
    align-items: stretch;
    justify-content:flex-start;
    justify-content: space-around;
    height: 20px; 
    padding: 2em;
}

/* About Section Styling - padding, first words larger, maybe grid with some images of other stuff I've made??*/


/*Footer Links Syling*/
/* this link to use social media icons https://www.w3schools.com/howto/howto_css_social_media_buttons.asp */
.social-links {
    color: var(--color-background)
}

/* Media Queries */
@media screen and (max-width: 1024px) {
    .nav-bar{
        flex-direction: row;
    }
    .header-container{
        flex-direction: row;
    }
    #projects {
        flex-direction: row;
    }
    #bio{
        flex-direction: column;
    }
    .footer-container{
        flex-direction: row;
    }
}

@media screen and (max-width: 768px) {
    .nav-bar{
        flex-direction: row;
    }
    .header-container{
        flex-direction: row;
    }
    #projects {
        flex-direction: column;
    }
  
    #bio{
        flex-direction: column;
    }
    .footer-container{
        flex-direction: row;
    }
}

@media screen and (max-width:480px) {
    .nav-bar{
        flex-direction: column;
        font-size: .75em;

    }
    .header-container{
        flex-direction: column;
    }
    #contact-me img{
        width: 200%;
        height: auto;
    }
    .hero-text{
        width: 70%;
    }
    .hero-text h1 {
        font-size: 200%;
    }
    .hero-text p {
        font-size: 70%;
    }
    #projects {
        flex-direction: column;
    }
    #project1 {
       font-size: 16px;
    }
    #project2 {
       font-size: 16px;
    }

    #bio{
        flex-direction: column;
    }

     p{
        font-size: 16px;
    }
    .footer-container{
        flex-direction: column;
    }
}